.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
__pycache__/BettingStrategy.cpython-39.pyc
__pycache__/Enumerators.cpython-39.pyc
__pycache__/FileHelper.cpython-39.pyc
__pycache__/Helper.cpython-39.pyc
__pycache__/Partita.cpython-39.pyc
__pycache__/Row.cpython-39.pyc
